<nav class="navbar navbar-default" style="background-color: #0000ff;">
  <div class="container-fluid">
    <ul class="nav nav-pills" style="float: right;">
      <li role="presentation">
        <a routerLink="" style="color: white">Sign in</a>
      </li>
      <li role="presentation">
        <a routerLink="/signup" style="color: white">Sign up</a>
      </li>
      <li role="presentation">
        <a routerLink="" style="color: white">Chat Rooms</a>
      </li>
    </ul>
    <div class="navbar-header">
      <img id="TeamChatLogo" class="pull-left"  src="../../assets/Images/chat-speech-bubble-icon_23-2147501656.jpg">
      <span style="color: white">TeamChat</span>
    </div>
  </div>
</nav>

