<html>
<head>
  <title>
    signIn
  </title>
</head>
<div class="row">
  <div class="col-xs-5 col-xs-offset-4">
    <div class="panel panel-primary" style="text-align: center">
      <div class="panel-heading" style="text-align: left">Sign In</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2 col-xs-offset-3"  style="margin-top: 2%;">
            <b>Username</b>
          </div>
          <div class="col-xs-5">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username" >
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="row">
            <div class="col-xs-2 col-xs-offset-3"  style="margin-top: 2%;">
              <b>Password</b>
            </div>
            <div class="col-xs-5">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Password"  >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body"></div>
      <div class="panel-body"><button class="btn btn-primary">Login</button></div>
    </div>
  </div>
</div>
</html>
